<!-- 코드 3-15 독서 목록 애플리케이션 사용자 오류 페이지(resources/templates/error.html) -->

<!DOCTYPE html>
<html>
<head>
  <title>Oops!</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
  <div class="errorPage">
    <span class="oops">Oops!</span><br />
    <img th:src="@{/images/MissingPage.png}"></img>
    <p>There seems to be a problem with the page you requested
             (<span th:text="${path}"></span>).</p> <!-- 요청 경로 표시 -->
    <p th:text="${'Details: ' + message}"></p> <!-- 상세한 오류 표시 -->
  </div>
</body>
</html>
